## <span style = color:brown;> Assignment - Tuple</span>

#### 1. Create a tuple x with the elements 1, 2, 3, 4, 5.

In [1]:
 x = (1, 2, 3, 4, 5)

In [2]:
x

(1, 2, 3, 4, 5)

#### 2. Given a tuple x, access the element at index 2.

In [3]:
x[2]

3

#### 3. Given the tuple x, slice it to get the sub-tuple (2, 3, 4).

In [4]:
x[1:4]

(2, 3, 4)

#### 4. Given the tuple (1, 2, 2, 3, 4, 4, 4), count how many times the number 4 appears.

In [5]:
x = (1, 2, 2, 3, 4, 4, 4)

In [6]:
x.count(4)

3

#### 5. Convert the list [10, 20, 30, 40, 50] into a tuple.

In [7]:
my_list = [10, 20, 30, 40, 50]

In [8]:
my_tuple = tuple(my_list)

In [9]:
my_tuple

(10, 20, 30, 40, 50)

#### 6. Unpack the tuple (10, 20, 30) into three variables a, b, and c.

In [10]:
my_tuple = (10, 20, 30)

a, b, c = my_tuple

In [11]:
a

10

In [12]:
b

20

In [13]:
c

30

#### 7. Convert the string "hello" into a tuple where each character is an element.

In [14]:
my_string = "hello"

In [15]:
my_tuple = tuple(my_string)

In [16]:
my_tuple

('h', 'e', 'l', 'l', 'o')

#### 8. Given two variables a = 10 and b = 20, swap their values using tuple unpacking.

In [17]:
a = 10
b = 20

a, b = b, a

In [18]:
a

20

In [19]:
b

10

## <span style = color:brown;> Assignment - Set, Boolean</span>

#### 9. Create a set x with the elements 1, 2, 3, 4, 5.

In [20]:
x = {1, 2, 3, 4, 5}

In [21]:
x

{1, 2, 3, 4, 5}

#### 10. Add the element 6 to the set x

In [22]:
x.add(6)

In [23]:
x

{1, 2, 3, 4, 5, 6}

#### 11. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [25]:
set1.union(set2)

{1, 2, 3, 4, 5}

#### 12. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [26]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

In [27]:
set1.intersection(set2)

{2, 3}

#### 13. Find the difference between two sets {1, 2, 3} and {2, 3, 4} (elements present in the first set but not in the second).

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

In [29]:
diff = set1 - set2

In [30]:
diff

{1}

#### 14. Convert the list [1, 2, 2, 3, 3, 4, 4] into a set.

In [31]:
my_list = [1, 2, 2, 3, 3, 4, 4]

my_set = set(my_list)

In [32]:
my_set

{1, 2, 3, 4}

#### 15. Convert the integer 0 and the string "hello" to their corresponding Boolean values.

In [33]:
my_int = 0
my_str = "hello"

In [34]:
boolint = bool(my_int)
boolstr = bool(my_str)

In [35]:
boolint

False

In [36]:
boolstr

True

**bool(0) returns False because 0 is considered a falsy value.** 

**bool("hello") returns True because non-empty strings are truthy.**

#### 16. What will be the Boolean output of this comparison?

In [37]:
x = 5
y = 10

In [38]:
x > y

False

In [39]:
x < y

True

In [40]:
x == y

False

In [41]:
x != y

True

#### 17. Evaluate the expression True + True + False.

In Python, True is treated as 1 and False as 0 in arithmetic operations.

In [42]:
True + True + False

2

## <span style = color:brown;> Assignment - Dictionary</span>

#### 18. Given the dictionary person = {"name": "John", "age": 30}, retrieve the value associated with the key "name".

In [43]:
person = {"name": "John", "age": 30}

In [44]:
person

{'name': 'John', 'age': 30}

In [45]:
person["name"]

'John'

#### 19. Add a new key "city" with the value "New York" to the dictionary person = {"name": "John", "age": 30}.

In [46]:
person["city"] = "New york"

In [47]:
person

{'name': 'John', 'age': 30, 'city': 'New york'}

#### 20. Update the value associated with the key "age" to 35 in the dictionary person = {"name": "John", "age": 30}.

In [48]:
person["age"] = 35

In [49]:
person

{'name': 'John', 'age': 35, 'city': 'New york'}

#### 21. Remove the key "age" from the dictionary person = {"name": "John", "age": 30, "city": "New York"}.

In [50]:
person.pop("age")

35

In [51]:
person

{'name': 'John', 'city': 'New york'}

#### 22. Use the keys() method to retrieve all keys from the dictionary person = {"name": "John", "age": 30, "city": "New York"}.

In [52]:
person = {"name": "John", "age": 30, "city": "New York"}

In [53]:
person.keys()

dict_keys(['name', 'age', 'city'])

#### 23. Use the values() method to retrieve all values from the dictionary person = {"name": "John", "age": 30, "city": "New York"}.

In [54]:
person.values()

dict_values(['John', 30, 'New York'])

#### 24. Grab 'hello'

In [55]:
d = {'simple_key':'hello'}

In [56]:
d['simple_key']

'hello'

In [57]:
d.get("simple_key")

'hello'

#### 25. Grab 'hello'

In [62]:
d = {'k1':{'k2':'hello'}}

In [77]:
d['k1']['k2']

'hello'

In [78]:
my_dict1 = d["k1"]
my_dict2 = my_dict1["k2"]

In [79]:
my_dict2

'hello'

#### 26. Grab 'hello'

In [87]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [89]:
my_dict = d["k1"][0]['nest_key'][1][0]

In [90]:
my_dict

'hello'

#### 27. Grab 'hello'

In [93]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [94]:
my_dict = d["k1"][2]["k2"][1]["tough"][2][0]

In [95]:
my_dict

'hello'

***