## <span style = color:brown;> Assignment - List </span>

#### 1. Create a list of numbers from 1 to 10 and add it to a variable x.

In [1]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Add the number 11 at the end of the list.

In [3]:
x.append(11)

In [4]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 3. Insert the number 100 at index 2 in the list [1, 2, 3, 4, 5].

In [5]:
x.insert(2, 100)

In [6]:
x

[1, 2, 100, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 4. Insert the number 5.5 between 5 and 6.

In [7]:
x.insert(6, 5.5)

In [8]:
x

[1, 2, 100, 3, 4, 5, 5.5, 6, 7, 8, 9, 10, 11]

#### 5. Remove the number 10 from the list.

In [9]:
x.remove(10)

In [10]:
x

[1, 2, 100, 3, 4, 5, 5.5, 6, 7, 8, 9, 11]

#### 6. Reverse the list.

In [11]:
x.reverse()

In [12]:
x

[11, 9, 8, 7, 6, 5.5, 5, 4, 3, 100, 2, 1]

#### 7. Sort the list in ascending order.

In [13]:
x.sort()

In [14]:
x

[1, 2, 3, 4, 5, 5.5, 6, 7, 8, 9, 11, 100]

#### 8. Given two lists [1, 2, 3] and [4, 5, 6], concatenate them into a single list.

In [15]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

#### 9. Given a list [1, 2, 3], multiply its elements by 3 to repeat the list.

In [16]:
my_list = [1, 2, 3] * 3

my_list

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 10. Count the number of times 2 appears in the list [1, 2, 3, 2, 5, 2].

In [17]:
my_list.count(2)

3

#### 11. Find the minimum and maximum values in the list [10, 20, 5, 30, 15].

In [23]:
my_list = [10, 20, 5, 30, 15]

min_value = min(my_list)
max_value = max(my_list)

print("min value: ", min_value)
print("max value: ", max_value)

min value:  5
max value:  30

#### 12. Slice the list [1, 2, 3, 4, 5, 6] to get the sublist [2, 3, 4].

In [25]:
my_list = [1, 2, 3, 4, 5, 6]

my_list[1:4]

[2, 3, 4]

#### 13. Given the list ["Python", "is", "fun"], join the elements into a single string separated by spaces.

In [47]:
# Using join() to create a single string, separated by spaces

In [29]:
text = ("Python", "is", "fun")

sentence = " ".join(text)

sentence

'Python is fun'

#### 14. Create a list from the string "hello" where each character becomes an element of the list.

In [33]:
my_string = "hello"
my_string

'hello'

In [35]:
letters = list(my_string)
print(letters)

['h', 'e', 'l', 'l', 'o']

#### 15. Find the number of elements in the list [1, 2, 3, 4, 5].

In [37]:
my_list = [1, 2, 3, 4, 5]

len(my_list)

5

#### 16. Check if the element 3 exists in the list [1, 2, 3, 4, 5].

In [51]:
my_list = [1, 2, 3, 4, 5]

if 3 in my_list:
    print("3 exists in the list")
else:
    print("3 does not exists in the list")

3 exists in the list